{% set heading = ' ' %}

{% extends 'templates/layout.twig' %}
{% block content %}
    <div class="grid-container">
        <div class="grid-x grid-padding-x">
            <div class="large-12 cell" style="height: 535px !important;">
                <div style="margin: 80px">
                    <h1 style="background-image: url('/assets/img/phpWord_logo.png'); background-repeat: no-repeat; background-position: right top; background-size: 35%;">
                        About PHPWord:
                    </h1>
                    <div style="font-size: x-large; margin-left: 40px; margin-top: 20px;">
                        <ul>
                            <li>
                                <a href="https://github.com/PHPOffice/PHPWord" target="_blank">
                                    https://github.com/PHPOffice/PHPWord
                                </a>
                            </li>
                            <li>pure PHP library</li>
                            <li>easily used via composer</li>
                            <li>current version: 0.15</li>
                            <li>licenced under LGPL v3</li>
                            <li>supports OOXML, ODF, RTF, HTML and PDF</li>
                            <li>good Q&A situation on StackOverFlow and the GitHub Issues</li>
                            <li>large backlog of issues and PRs</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block return %}
    <div class="large-12 cell" style="font-size: medium">
        <div class="callout">
            <div class="grid-x grid-margin-x">
                <div class="large-5 cell">
                    <div>
                        FrosCon 2018 - Bonn
                    </div>
                </div>

                <div class="large-2 cell">
                    <div style="text-align: center;">
                        <a href="?page=intro/github" type="button" class="button" style="margin-bottom: 0">
                            Show me more!
                        </a>
                    </div>
                </div>

                <div class="large-5 cell">
                    <div style="text-align: right;">
                        Maria Haubner - Mayflower GmbH
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}