{% set heading = ' ' %}

{% extends 'templates/layout.twig' %}
{% block content %}
    <div class="grid-container">
        <div class="grid-x grid-padding-x">
            <div class="large-12 cell" style="height: 535px !important;">
                <div style="margin: 40px; text-align: center">
                    <h1 style="margin-top: 200px">
                        Use Case?
                    </h1>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block return %}
    <div class="large-12 cell" style="font-size: medium">
        <div class="callout">
            <div class="grid-x grid-margin-x">
                <div class="large-5 cell">
                    <div>
                        FrosCon 2018 - Bonn
                    </div>
                </div>

                <div class="large-2 cell">
                    <div style="text-align: center;">
                        <a href="?page=intro/phpWord" type="button" class="button" style="margin-bottom: 0">
                            PhpWord
                        </a>
                    </div>
                </div>

                <div class="large-5 cell">
                    <div style="text-align: right;">
                        Maria Haubner - Mayflower GmbH
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}