{% set heading = 'Oops' %}
{% extends 'templates/layout.twig' %}

{% block content %}
    <h2>Something went wrong! :(</h2>
    <p><a href="javascript:history.back()" class="button">go back</a><br/></p>
{% endblock %}

{% block return %}{% endblock %}
