<div class="reveal {{ class }}" id="{{ id }}" data-reveal>
    <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>

    <div>
        <img src="{{ img }}">
    </div>
</div>