{% set heading = 'Merge a generated Word with an existing Template!' %}
{% extends 'templates/layout.twig' %}

{% block content %}
    <h5>Generate Word</h5>
    <form name="xPathForm" method="post" action="/src/xPath/export.php">
        <div class="grid-x grid-padding-x">
            <div class="large-7 cell">
                <label><b>Content:</b></label>
                <textarea name="content" placeholder="Insert your text" rows="15"></textarea>
                <p style="position: absolute; bottom: 55px; left: 400px;font-size: 12px;">
                    only plain text allowed in this demo
                </p>
            </div>
            <div class="large-4 cell">
                <label><b>Use which template?</b></label>
                <div class="grid-x grid-margin-x">
                    <div class="large-6 cell">
                        <div class="card" style="width: 200px;">
                            <div class="card-divider">
                                Export Design
                            </div>
                            <a href="#" data-open="modalOrange">
                                <img src="/assets/img/xPathTemplateOrange_small.png">
                            </a>
                            <div class="card-section">
                                <input type="radio" name="templateChoice" value="orange" id="templateOrange" checked>
                                <label for="templateOrange">Orange Template</label>
                            </div>
                        </div>
                    </div>
                    <div class="large-6 cell">
                        <div class="card" style="width: 200px;">
                            <div class="card-divider">
                                Export Design
                            </div>
                            <a href="#" data-open="modalBlue">
                                <img src="/assets/img/xPathTemplateBlue_small.png">
                            </a>
                            <div class="card-section">
                                <input type="radio" name="templateChoice" value="blue" id="templateBlue">
                                <label for="templateBlue">Blue, please</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <input type="submit" class="button" value="Submit">
    </form>
    {% include '/templates/modal.twig' with {'id': 'modalOrange', 'img': '/assets/img/xPathTemplateOrange.png'} %}
    {% include '/templates/modal.twig' with {'id': 'modalBlue', 'img': '/assets/img/xPathTemplateBlue.png'} %}
{% endblock %}