{% set heading = 'Generate a Word file with custom Text' %}
{% extends 'templates/layout.twig' %}

{% block content %}
    <h5>Generate Word</h5>
    <form name="phpWordForm" method="post" action="/src/phpWord/export.php">
        <div class="grid-x grid-padding-x">
            <div class="large-12 cell">
                <label><b>Content:</b></label>
                <textarea name="content" placeholder="Insert your text" rows="15"></textarea>
            </div>
        </div>
        <div class="grid-x grid-padding-x">
            <div class="large-6 cell">
                <label><b>Use this design?</b></label>
                <input type="radio" name="designChoice" value="1" id="designYes">
                <label for="designYes">Give it to me!</label>
                <input type="radio" name="designChoice" value="0" id="designNo" checked>
                <label for="designNo">Nope!</label>
            </div>
            <div class="cell large-6">
                <div class="card" style="width: 250px;">
                    <div class="card-divider">
                        Export Design
                    </div>
                    <img src="assets/img/exportDesign.jpg">
                    <div class="card-section">
                        <p>One Design for free</p>
                    </div>
                </div>
            </div>
        </div>
        <input type="submit" class="button" value="Submit">
    </form>
{% endblock %}