{% set heading = 'Insert a DataSet for the TemplateProcessor' %}
{% extends 'templates/layout.twig' %}
{% block content %}
<h5>We bet you&rsquo;ll need a form somewhere:</h5>
<form name="templateProcessor" method="post" action="/src/phpWord/export.php">
    <div class="grid-x grid-padding-x">
        <div class="large-12 cell">
            <label>Input Label</label>
            <input type="text" placeholder="large-12.cell"/>
        </div>
    </div>
    <div class="grid-x grid-padding-x">
        <div class="large-4 medium-4 cell">
            <label>Input Label</label>
            <input type="text" placeholder="large-4.cell"/>
        </div>
        <div class="large-4 medium-4 cell">
            <label>Input Label</label>
            <input type="text" placeholder="large-4.cell"/>
        </div>
        <div class="large-4 medium-4 cell">
            <div class="grid-x">
                <label>Input Label</label>
                <div class="input-group">
                    <input type="text" placeholder="small-9.cell" class="input-group-field"/>
                    <span class="input-group-label">.com</span>
                </div>
            </div>
        </div>
    </div>
    <div class="grid-x grid-padding-x">
        <div class="large-12 cell">
            <label>Select Box</label>
            <select>
                <option value="husker">Husker</option>
                <option value="starbuck">Starbuck</option>
                <option value="hotdog">Hot Dog</option>
                <option value="apollo">Apollo</option>
            </select>
        </div>
    </div>
    <div class="grid-x grid-padding-x">
        <div class="large-6 medium-6 cell">
            <label>Choose Your Favorite</label>
            <input type="radio" name="pokemon" value="Red" id="pokemonRed"><label for="pokemonRed">Radio
                1</label>
            <input type="radio" name="pokemon" value="Blue" id="pokemonBlue"><label for="pokemonBlue">Radio
                2</label>
        </div>
        <div class="large-6 medium-6 cell">
            <label>Template Chooser</label>
            <input id="checkbox1" type="checkbox"><label for="checkbox1">Orange Invitation</label>
            <input id="checkbox2" type="checkbox"><label for="checkbox2">White Invitation</label>
        </div>
    </div>
    <div class="grid-x grid-padding-x">
        <div class="large-12 cell">
            <label>Textarea Label</label>
            <textarea placeholder="small-12.cell"></textarea>
        </div>
    </div>
    <input type="submit" class="button" value="Submit">
</form>
{% endblock %}